{% extends "base.html" %}
{% block page_title %}{{section_name}}{% endblock %}
{% block content %}
<P><strong>Historical and Cultural Heritage</strong><br><br>

    India is home to numerous UNESCO World Heritage Sites, reflecting its rich historical and cultural legacy. The Taj Mahal in Agra, one of the Seven Wonders of the World, draws millions of visitors each year. Other historical monuments, such as the Qutub Minar in Delhi, Jaipur’s Amber Fort, and the ancient city of Varanasi, provide a glimpse into India' past, showcasing the architectural brilliance and cultural diversity of different periods.
    <br><br><br>
    <strong> Spiritual Tourism</strong><br><br><br>
    
    India is a major destination for spiritual tourism, attracting visitors seeking peace and spiritual growth. Cities like Varanasi, Rishikesh, and Haridwar are famous for their spiritual significance and religious ceremonies. The country is also the birthplace of several religions, including Hinduism, Buddhism, Jainism, and Sikhism, and is dotted with sacred sites, temples, monasteries, and gurudwaras that cater to spiritual seekers from all over the world.<br><br><br><br>
    <strong>Natural Beauty and Adventure Tourism</strong><br><br><br>
    India's diverse geography offers a wide range of natural attractions, from the snow-capped Himalayas in the north to the lush Western Ghats in the south. The country is rich in natural beauty, with pristine beaches in Goa, backwaters in Kerala, and wildlife sanctuaries like Ranthambore and Jim Corbett National Park. Adventure enthusiasts can indulge in activities like trekking, river rafting, paragliding, and wildlife safaris, making India a popular destination for adventure tourism.<br><br><br>
    
<strong>Culinary Tourism</strong><br><br><br>
    
India’s culinary diversity is as vast as its culture, with each region offering its unique flavors and specialties. From the spicy street.</P>
{% endblock %}