@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* file.css */

/* Centering content and setting a max-width */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f8f9fa;
  margin: 0;
  padding: 20px;
}

h2 {
  color: #007bff;
  margin-bottom: 30px;
}

form {
  display: inline-block;
  max-width: 500px;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

div {
  margin-bottom: 20px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

input:focus, select:focus, textarea:focus {
  border-color: #007bff;
  outline: none;
}

.errors {
  color: #dc3545;
  font-size: 0.875em;
  margin-top: 5px;
}

